[class*="col-"] {
    padding: 15px;
    border: 1px solid #D8D8D8;
}

.row:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 1px 1px #ccc;
  background-color: #ccc;
}

#main-content-wrapper {
  margin-top: 100px;
}