#inner-albums-wrapper {
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
    height: 300px;
    overflow-x: hidden;    
}

.selected {
    background: #ccc;
    pointer-events: none;
}
.album-wrapper.selected {
    cursor: default;
}
.album-wrapper {
    width: 200px;
    display: inline-block;
    margin: 10px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
}
.album-wrapper .image {
    float: left;
    width: 100px;
    border: 1px solid #2b3c50;
    background: #7997bd;
    height: 100%;
    margin-right: 10px;
}

.album-wrapper:hover {
    box-shadow: 1px 1px 5px 1px #969595;
}