#content-wrapper {
    margin-top: 100px; 
}
#user-details-wrapper {
    height: 100px;
    line-height: 100px;
    margin-bottom: 10px;    
}
#user-thumbnail {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;    
    margin-right: 10px;
}

#user-name {
    display: inline-block;
}